tokenizers>=0.14.0
sympy==1.12
pebble 
timeout-decorator 
attrdict
runpod

bitsandbytes==0.41.1
gradio==3.48.0
protobuf==3.20.3
scipy==1.10.1
spaces==0.16.1

torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
transformers==4.41.0
huggingface_hub==0.21.4
accelerate==0.30.1
safetensors==0.4.3
sentencepiece==0.2.0
